<%- include("partials/head")%>

<body>
  <%- include("partials/header")%>
  <section class="banner">
	  <img src="images/img-home-banner.jpg" alt="">
  </section>
  <div class="container">
	  <!-- ultima visita -->
	  <section class="row">
		<div class="titulo col-12">
			<h2>Basado en tu última visita</h2>
			</div>
			
				<% data.forEach(element => { %>
					<% if (element.category == "visited") { %>
					 
					
					<div class="col-12 col-md-6 col-lg-3">
					<article id= "producto<%= element.id%>" class="producto">
			
						<div class="contenido">
							<figure>
								<a href="/product/detail/<%=element.id%>/<%=element.category%>"><img src="/images/products/<%=element.image%>" alt=""></a>
							</figure>
							<article>
								<h2><%=toThousand(element.price)%></h2>
								<%if(element.discount > 0){%>
									<span><%= element.discount%>%</span>
								<%}%>
								
								<i class="fas fa-truck"></i>
							</article>
							<div id="detalle<%=element.id%>" class="detalle">
								<p><%= element.name%></p>
							</div>
						</div>
				</article>
				</div>
				
				
				<% } %>
				<% }) %>
				<script>
					const producto = document.getElementById("producto9");
					producto.addEventListener("mouseover",aparece)
					function aparece (){
						const detalle = document.getElementById("detalle9");
						//detalle.style.display = "block"
						detalle.classList.toggle("activo")
					}
				</script>
				
		
	<!--	<div class="col-12 col-md-6 col-lg-3 ">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="/images/img-macbook-pro-2019.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$6.770
						</h2>
						<span>40% OFF</span>
						<i class="fas fa-truck "></i>
					</article>
					<div class="detalle">
						<p>Cafetera Moulinex Dolce Gusto </p>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="/images/img-tv-samsung-smart.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$6.770
						</h2>
						<span>40% OFF</span>
						<i class="fas fa-truck "></i>
					</article>
					<div class="detalle">
						<p>Cafetera Moulinex Dolce Gusto </p>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="/images/img-samsung-galaxy-s10.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$6.770
						</h2>
						<span>40% OFF</span>
						<i class="fas fa-truck "></i>
					</article>
					<div class="detalle">
						<p>Cafetera Moulinex Dolce Gusto </p>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</article>
		</div>-->

	  </section>
	  <section class="row">
		<div class="titulo col-12">
			<h2>Ofertas</h2>
			</div>
			<% data.forEach(element => { %>
				<% if (element.category == "in-sale") { %>
				 
				
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto">
						
							<div class="contenido">
								<figure>
									<a href="/product/detail/<%=element.id%>/<%=element.category%>"><img src="/images/products/<%= element.image%>" alt=""></a>
								</figure>
								<article>
									<h2><%=toThousand( element.price)%></h2>
									<span><%= element.discount %>%</span>
									<i class="fas fa-truck"></i>
								</article>
								<div class="detalle">
									<p><%= element.name%></p>
								</div>
							</div>
					</article>
					</div>
					<% } %>
			<% }) %>
		<!-- <div class="col-12 col-md-6 col-lg-3 ">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="/images/img-macbook-pro-2019.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$6.770
						</h2>
						<span>40% OFF</span>
						<i class="fas fa-truck "></i>
					</article>
					<div class="detalle">
						<p>Cafetera Moulinex Dolce Gusto </p>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="/images/img-tv-samsung-smart.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$6.770
						</h2>
						<span>40% OFF</span>
						<i class="fas fa-truck "></i>
					</article>
					<div class="detalle">
						<p>Cafetera Moulinex Dolce Gusto </p>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="/images/img-samsung-galaxy-s10.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$6.770
						</h2>
						<span>40% OFF</span>
						<i class="fas fa-truck "></i>
					</article>
					<div class="detalle">
						<p>Cafetera Moulinex Dolce Gusto </p>
						<p>Lorem ipsum, dolor sit amet.</p>
					</div>
				</div>
			</article>
		</div>-->

	  </section>
	  <%-include("partials/footer")%>

</body>
</html>
